.conteudo{
    background-color: rgb(240, 184, 110);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 2px solid blue;
    width: 80%;
    height: 1000px;
}
.carrosel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 400px;
    width: 670px;
    overflow-x: auto;
  }
  .skins .carrosel::-webkit-scrollbar {
    width: 12px;             
  }
  
  .skins .carrosel::-webkit-scrollbar-track {
    background: orange;        
  }
  
  .skins .carrosel::-webkit-scrollbar-thumb {
    background-color: blue;    
    border-radius: 20px;       
    border: 3px solid orange; 
  }

  .items {
    display: flex;
    transition: trasform 0.5s ease-in-out;
    transform: translateX(0);
  }

  .items img{
    object-fit: cover;
    height: 400px;
    width: 670px;
  }