html{
background-image:url('../Identidade Visual/wallpaper-personagens.png');
}

.conteudo{
    background-color: rgb(197, 195, 192);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 2px solid blue;
    width: 80%;
    height: 1000px;
}

.conteudo h1{
  color: black;
}

.carrosel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 800px;
    width: 1000px;
    overflow-x: auto;
  }
  .carrosel::-webkit-scrollbar {
    width: 9px;             
  }
  
  .carrosel::-webkit-scrollbar-track {
    background: rgb(255, 136, 0);        
  }
  
  .carrosel::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 0);    
    border-radius: 15px;       
    border: 2px solid rgb(0, 0, 0); 
  }

  .items {
    display: flex;
    transition: trasform 0.5s ease-in-out;
    transform: translateX(0);
  }

  .items img{
    object-fit: cover;
    height: 800px;
    width: 1000px;
  }
