html{
background-image:url('../Identidade Visual/wallpaper-personagens.png');
}

.conteudo{
    background-color: rgba(136, 136, 132, 0.863);
    box-shadow: 0 8px 32px 0 rgba(5, 9, 73, 0.623);
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 1000px;
}

.conteudo h1{
  color: black;
}

.carrosel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 800px;
    width: 1000px;
    overflow-x: auto;
  }
  .carrosel::-webkit-scrollbar {
    width: 9px;             
  }
  
  .carrosel::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        
  }
  
  .carrosel::-webkit-scrollbar-thumb {
    background-color: rgba(233, 178, 27, 0.568);    
    border-radius: 15px;       
    border: 2px solid rgb(0, 0, 0); 
  }

  .items {
    display: flex;
    transition: trasform 0.5s ease-in-out;
    transform: translateX(0);
  }

  .items .img_1{
    object-fit: cover;
    height: 800px;
    width: 1000px;
  }
